Imports

In [1]:
import pandas as pd
import numpy as np

#### Read data and drop columns, fix names

In [2]:
df = pd.read_csv("gamesLog.csv")
df.drop(labels=["game_id","actor_id","date","time"],axis=1,inplace=True)
a = df.loc[:,"actor"] == "feyzi"
df.loc[a,"actor"] = "Feyzi"
a = df.loc[:,"actor"] == "5c651592-2d37-4622-ab5b-0ff4ca29f2f8"
df.loc[a,"actor"] = "Doruk"
df

        market  actor  price  round  type
0       spades  Feyzi     55     32   buy
1       spades  Feyzi     55     32   buy
2       spades  Feyzi     55     32   buy
3     diamonds  Doruk     34     32  sell
4     diamonds  Doruk     34     32  sell
...        ...    ...    ...    ...   ...
1582     clubs  Doruk     40      1  sell
1583    spades  Doruk     40      1  sell
1584    hearts  Doruk     40      1  sell
1585  diamonds  Doruk     40      1  sell
1586     clubs  Doruk     40      1  sell

[1587 rows x 5 columns]

# Summary stats

Some useful stats

In [3]:
summary = df[["market","actor","type"]].apply(pd.Series.value_counts).copy()
summary

          market  actor   type
Ben          NaN  162.0    NaN
Doruk        NaN  608.0    NaN
Feyzi        NaN  444.0    NaN
Isolde       NaN  199.0    NaN
Luke         NaN  174.0    NaN
buy          NaN    NaN  670.0
clubs      485.0    NaN    NaN
diamonds   575.0    NaN    NaN
hearts     283.0    NaN    NaN
sell         NaN    NaN  917.0
spades     244.0    NaN    NaN

#### Calculate own R32 loss

In [149]:
round_32 = df[(df["market"]=="clubs") & (df["round"] == 32)].copy()
print(round_32.price.sum() /100, "$ loss")
print(round_32.shape[0], " trades")

27.76 $ loss
104  trades

### Contract balances for each player

DFs for all players

In [16]:
Isolde = df[["market","actor","type","price"]][df.actor=="Isolde"]
Luke   = df[["market","actor","type","price"]][df.actor=="Luke"]
Feyzi  = df[["market","actor","type","price"]][df.actor=="Feyzi"]
Ben    = df[["market","actor","type","price"]][df.actor=="Ben"]
Doruk  = df[["market","actor","type","price"]][df.actor=="Doruk"]

players = [Isolde, Luke, Feyzi, Ben, Doruk]

In [17]:
contracts_dict = {
    "Player": ["Isolde","Luke","Feyzi","Ben","Doruk"],
    "hearts": [0,0,0,0,0],
    "diamonds":[0,0,0,0,0],
    "clubs":[0,0,0,0,0],
    "spades":[0,0,0,0,0],
}
contracts_df = df.from_dict(contracts_dict)
contracts_df.set_index("Player",inplace=True)
contracts_df

        hearts  diamonds  clubs  spades
Player
Isolde       0         0      0       0
Luke         0         0      0       0
Feyzi        0         0      0       0
Ben          0         0      0       0
Doruk        0         0      0       0

In [18]:
def get_net_contract(df,contract):
    return df[(df["type"] == "buy") & (df["market"] == contract)].shape[0] - df[(df["type"] == "sell") & (df["market"] == contract)].shape[0]

def calc_contract_balances(df):
    contracts= ["hearts","diamonds","clubs","spades"]
    balances = []
    for i in range(len(contracts)):
        balances.append(get_net_contract(df,contracts[i]))
    return balances

contracts= ["hearts","diamonds","clubs","spades"]

# Populate table
contracts_df.loc["Isolde",contracts] = calc_contract_balances(Isolde)
contracts_df.loc["Luke",contracts] = calc_contract_balances(Luke)
contracts_df.loc["Feyzi",contracts] = calc_contract_balances(Feyzi)
contracts_df.loc["Ben",contracts] = calc_contract_balances(Ben)
contracts_df.loc["Doruk",contracts] = calc_contract_balances(Doruk)


# Add market maker balances
contracts_df.loc["Isolde","hearts"] = -contracts_df.hearts.sum()
contracts_df.loc["Luke","diamonds"] = -contracts_df.diamonds.sum()
contracts_df.loc["Feyzi","clubs"] = -contracts_df.clubs.sum()
contracts_df.loc["Ben","spades"] = -contracts_df.spades.sum()

contracts_df

        hearts  diamonds  clubs  spades
Player
Isolde      65       -26    -27      14
Luke        10        99     15      19
Feyzi       49       104    177      89
Ben          2        30     18     -94
Doruk     -126      -207   -183     -28

In [28]:
import seaborn as sns

cm = sns.light_palette("seagreen", as_cmap=True)

s = contracts_df.style.background_gradient(cmap=cm)
s

#### Average prices and trade counts for each contract

In [29]:
average_buys = []
average_sells = []
average_spreads = []
buy_count = []
sell_count = []

for i in range(4):
    average_buys.append(round(df[(df.market==contracts[i]) & (df.type == "buy")].price.mean(),2))
    average_sells.append(round(df[(df.market==contracts[i]) & (df.type == "sell")].price.mean(),2))
    average_spreads.append(round(average_buys[i] - average_sells[i],2))

for i in range(4):
    buy_count.append(df[(df.market==contracts[i]) & (df.type == "buy")].shape[0])
    sell_count.append(df[(df.market==contracts[i]) & (df.type == "sell")].shape[0])




print(contracts)
print(buy_count)
print(average_buys)
print(average_sells)
print(sell_count)
print(average_spreads)

['hearts', 'diamonds', 'clubs', 'spades']
[109, 238, 154, 169]
[25.53, 22.97, 20.47, 37.54]
[21.48, 27.89, 17.64, 28.97]
[174, 337, 331, 75]
[4.05, -4.92, 2.83, 8.57]

In [36]:
# Put in dataframe
data = []

for i in range(4):
    data.append([contracts[i], buy_count[i], sell_count[i], average_buys[i]/100, average_sells[i]/100])                

    contracts_df = pd.DataFrame(data,columns=["Contract","#buys","#sells","Average buy price","Average sell price"])

    
    
contracts_df

   Contract  #buys  #sells  Average buy price  Average sell price
0    hearts    109     174             0.2553              0.2148
1  diamonds    238     337             0.2297              0.2789
2     clubs    154     331             0.2047              0.1764
3    spades    169      75             0.3754              0.2897

In [44]:
cm = sns.light_palette("lightblue", as_cmap=True)

s = contracts_df[["#buys","#sells"]].style.background_gradient(cmap=cm)
s

AttributeError: 'Styler' object has no attribute 'merge'

### Cash balances for each player
##### Problem here! add market maker balances

In [47]:
players = [Isolde, Luke, Feyzi, Ben, Doruk]

In [64]:
def calc_balance(df):
    balance = 0
    balance -= df[df["type"] == "buy"]["price"].sum()
    balance += df[df["type"] == "sell"]["price"].sum()
    return balance/100

balances = np.zeros(5)
for i in range(len(players)):
    balances[i] = calc_balance(players[i])
balances

array([  0.18, -11.47, -61.31,  -4.14, 110.74])

### Need to add marketmakers revenue

In [65]:
maker_sums = np.zeros(4)

for i in range(4):
    temp = df[(df["market"]== contracts[i]) & (df["type"] == "buy")].price.sum()
    temp -= df[(df["market"]== contracts[i]) & (df["type"] == "sell")].price.sum()
    maker_sums[i] =  temp/100

maker_sums

array([ -9.54, -39.32, -26.85,  41.71])

In [66]:
net_balances = np.zeros(5)
for i in range(4):
    net_balances[i] = maker_sums[i] + balances[i]
    
net_balances[4] = balances[4]
net_balances

array([ -9.36, -50.79, -88.16,  37.57, 110.74])

In [64]:
grand_final = np.zeros(5)
for i in range(5):
    grand_final[i] = contracts_df["spades"][i] + net_balances[i]

grand_final

[-37.36, -36.79, -69.16, 126.57, 16.739999999999995]

In [73]:
df[df["market"] == "spades"]

      market  actor  price  round  type
0     spades  Feyzi     55     32   buy
1     spades  Feyzi     55     32   buy
2     spades  Feyzi     55     32   buy
5     spades  Feyzi     55     32   buy
7     spades  Feyzi     55     32   buy
...      ...    ...    ...    ...   ...
1569  spades  Doruk     43      1  sell
1571  spades  Doruk     40      1  sell
1575  spades  Doruk     40      1  sell
1579  spades  Doruk     40      1  sell
1583  spades  Doruk     40      1  sell

[244 rows x 5 columns]

### Running Tally