# Make best use of available info

Revealed card counts

In [35]:
import pandas as pd
import numpy as np

cols = ["Heart", "Diamond", "Club", "Spade", "Sum", "P-Heart","P-Diamond", "P-Club", "P-spade"]
df = pd.DataFrame(np.zeros((40,9)),columns=cols)
df.head()

index = 1

def initialize_df(df):
    for i in range(4):
        df.iloc[0,i] = int(input(f"# of {cols[i]}"))
        
    df.iloc[0,4] = sum(df.iloc[0,[0,1,2,3]])
    
    for i in range(5,9):
        df.iloc[0,i] = (13 - df.iloc[0,i-5])/ (52- df["Sum"][0])

def update_df(df):
    global index
    for i in range(4):
        df.iloc[index,i] = int(input(f"# of revealed {cols[i]}:  ")) + df.iloc[index-1,i]
        
    df.iloc[index,4] = sum(df.iloc[index,[0,1,2,3]])
    
    for i in range(5,9):
        df.iloc[index,i] = (13 - df.iloc[index,i-5])/ (52- df.iloc[index,4])
    
    index +=1

Create empty dataframe

### Initialise

In [36]:
initialize_df(df)
df.head()

# of Heart2
# of Diamond1
# of Club4
# of Spade1

   Heart  Diamond  Club  Spade  Sum  P-Heart  P-Diamond    P-Club   P-spade
0    2.0      1.0   4.0    1.0  8.0     0.25   0.272727  0.204545  0.272727
1    0.0      0.0   0.0    0.0  0.0     0.00   0.000000  0.000000  0.000000
2    0.0      0.0   0.0    0.0  0.0     0.00   0.000000  0.000000  0.000000
3    0.0      0.0   0.0    0.0  0.0     0.00   0.000000  0.000000  0.000000
4    0.0      0.0   0.0    0.0  0.0     0.00   0.000000  0.000000  0.000000

### Update values

In [ ]:
for k in range(30):
    update_df(df)
    print(df.iloc[index-1])

# of revealed Heart:  1
# of revealed Diamond:  0
# of revealed Club:  0
# of revealed Spade:  0
Heart        3.000000
Diamond      1.000000
Club         4.000000
Spade        1.000000
Sum          9.000000
P-Heart      0.232558
P-Diamond    0.279070
P-Club       0.209302
P-spade      0.279070
Name: 1, dtype: float64
# of revealed Heart:  1
# of revealed Diamond:  0
# of revealed Club:  0
# of revealed Spade:  0
Heart         4.000000
Diamond       1.000000
Club          4.000000
Spade         1.000000
Sum          10.000000
P-Heart       0.214286
P-Diamond     0.285714
P-Club        0.214286
P-spade       0.285714
Name: 2, dtype: float64
# of revealed Heart:  7
# of revealed Diamond:  0
# of revealed Club:  0
# of revealed Spade:  0
Heart        11.000000
Diamond       1.000000
Club          4.000000
Spade         1.000000
Sum          17.000000
P-Heart       0.057143
P-Diamond     0.342857
P-Club        0.257143
P-spade       0.342857
Name: 3, dtype: float64