In [1]:
import pandas as pd
import numpy as np

In [2]:
cols = ["Prob","Heart", "Diamond", "Club", "Spade", "Sum"]
my_index = ["Contract:Heart", "Contract: Diamond", "Contract:Club","Contract:Spade"]
df = pd.DataFrame(np.zeros((4,6)),columns=cols,index=my_index)
df.head()

                   Prob  Heart  Diamond  Club  Spade  Sum
Contract:Heart      0.0    0.0      0.0   0.0    0.0  0.0
Contract: Diamond   0.0    0.0      0.0   0.0    0.0  0.0
Contract:Club       0.0    0.0      0.0   0.0    0.0  0.0
Contract:Spade      0.0    0.0      0.0   0.0    0.0  0.0

In [3]:
def get_public_cards():
    num_heart = int(input("# of public revealed hearts: "))
    num_diamond = int(input("# of public revealed diamond: "))
    num_club = int(input("# of public revealed club: "))
    num_spade = int(input("# of public revealed spade: "))
    cards = [num_heart, num_diamond, num_club, num_spade]
    return cards

In [4]:
def get_contracts(df):
    mid_heart = float(input("MidPrice of heart contract: "))
    mid_diamond = float(input("MidPrice of diamond contract:  "))
    mid_club = float(input("MidPrice of club contract: "))
    mid_spade = float(input("MidPrice of spade contract: "))
    hand = int(input("How many cards are in your hand? "))
    df["Prob"] = [mid_heart, mid_diamond, mid_club, mid_spade]
    return hand

In [5]:
def calc_hands(df,hand):
    for i in range(4):
        df.iloc[i,i+1] = ( (df.iloc[i,0] * (52- hand - sum(cards))) - 13 + cards[i]) * -1

## Run

In [14]:
cards = get_public_cards()
hand = get_contracts(df)
calc_hands(df,hand)

# of public revealed hearts: 6
# of public revealed diamond: 8
# of public revealed club: 5
# of public revealed spade: 10
MidPrice of heart contract: 0.28
MidPrice of diamond contract:  0.26
MidPrice of club contract: 0.29
MidPrice of spade contract: 0.09
How many cards are in your hand? 2

In [15]:
print(cards)
#print("Hand card#", hand)
df

[6, 8, 5, 10]

                   Prob  Heart  Diamond  Club  Spade  Sum
Contract:Heart     0.28   1.12     0.00  0.00   0.00  0.0
Contract: Diamond  0.26   0.00    -0.46  0.00   0.00  0.0
Contract:Club      0.29   0.00     0.00  1.91   0.00  0.0
Contract:Spade     0.09   0.00     0.00  0.00   1.11  0.0

## Proceed to run the model hence