# Make best use of available info

Revealed card counts

In [1]:
import pandas as pd
import numpy as np

In [2]:
cols = ["Heart", "Diamond", "Club", "Spade", "Sum", "P-Heart","P-Diamond", "P-Club", "P-spade"]
df = pd.DataFrame(np.zeros((40,9)),columns=cols)
df.head()

index = 1

def initialize_df(df):
    for i in range(4):
        df.iloc[0,i] = int(input(f"# of {cols[i]}"))
        
    df.iloc[0,4] = sum(df.iloc[0,[0,1,2,3]])
    
    for i in range(5,9):
        df.iloc[0,i] = (13 - df.iloc[0,i-5])/ (52- df["Sum"][0])

def update_df(df):
    global index
    for i in range(4):
        df.iloc[index,i] = int(input(f"# of revealed {cols[i]}:  ")) + df.iloc[index-1,i]
        
    df.iloc[index,4] = sum(df.iloc[index,[0,1,2,3]])
    
    for i in range(5,9):
        df.iloc[index,i] = (13 - df.iloc[index,i-5])/ (52- df.iloc[index,4])
    
    index +=1

### Initialise
Write the total number of cards revealed to you

In [3]:
initialize_df(df)
df.head()

# of Heart2
# of Diamond3
# of Club2
# of Spade1

   Heart  Diamond  Club  Spade  Sum  P-Heart  P-Diamond  P-Club   P-spade
0    2.0      3.0   2.0    1.0  8.0     0.25   0.227273    0.25  0.272727
1    0.0      0.0   0.0    0.0  0.0     0.00   0.000000    0.00  0.000000
2    0.0      0.0   0.0    0.0  0.0     0.00   0.000000    0.00  0.000000
3    0.0      0.0   0.0    0.0  0.0     0.00   0.000000    0.00  0.000000
4    0.0      0.0   0.0    0.0  0.0     0.00   0.000000    0.00  0.000000

### Update values

In [4]:
for k in range(35):
    update_df(df)
    print(df.iloc[index-1])

# of revealed Heart:  1
# of revealed Diamond:  0
# of revealed Club:  0
# of revealed Spade:  0
Heart        3.000000
Diamond      3.000000
Club         2.000000
Spade        1.000000
Sum          9.000000
P-Heart      0.232558
P-Diamond    0.232558
P-Club       0.255814
P-spade      0.279070
Name: 1, dtype: float64
# of revealed Heart:  0
# of revealed Diamond:  1
# of revealed Club:  0
# of revealed Spade:  0
Heart         3.000000
Diamond       4.000000
Club          2.000000
Spade         1.000000
Sum          10.000000
P-Heart       0.238095
P-Diamond     0.214286
P-Club        0.261905
P-spade       0.285714
Name: 2, dtype: float64
# of revealed Heart:  0
# of revealed Diamond:  1
# of revealed Club:  0
# of revealed Spade:  0
Heart         3.000000
Diamond       5.000000
Club          2.000000
Spade         1.000000
Sum          11.000000
P-Heart       0.243902
P-Diamond     0.195122
P-Club        0.268293
P-spade       0.292683
Name: 3, dtype: float64
# of revealed Heart:

ValueError: invalid literal for int() with base 10: '  '

In [6]:
df.head()

   Heart  Diamond  Club  Spade   Sum   P-Heart  P-Diamond    P-Club   P-spade
0    2.0      3.0   2.0    1.0   8.0  0.250000   0.227273  0.250000  0.272727
1    3.0      3.0   2.0    1.0   9.0  0.232558   0.232558  0.255814  0.279070
2    3.0      4.0   2.0    1.0  10.0  0.238095   0.214286  0.261905  0.285714
3    3.0      5.0   2.0    1.0  11.0  0.243902   0.195122  0.268293  0.292683
4    0.0      0.0   0.0    0.0   0.0  0.000000   0.000000  0.000000  0.000000